<div class="container mt-2">
    <table class="table border">
        <thead style="background-color: #A8A6A6">
          <tr>
            <th scope="col">Aplicaciones</th>
            <th scope="col" colspan="6"></th>
          </tr>
        </thead>
        <thead class="thead-light">
            <tr>
              <th scope="col" style="text-align: center;">Código</th>
              <th scope="col" style="text-align: center;">Descripción</th>
              <th scope="col" style="text-align: center;">Permiso Pasarela</th>
              <th scope="col" style="text-align: center;">Tipo Formulario</th>
              <th scope="col" style="text-align: center;">Usuario Modifica</th>
              <th scope="col" style="text-align: center;">Fecha Modifica</th>
              <th scope="col" style="text-align: center;">Estado</th>
            </tr>
        </thead>
        <tbody *ngFor="let aplicacion of listaAplicaciones; index as i;">
                <tr (click)="seleccionarAplicacion(aplicacion, i)"  [ngClass]="{'red': filaSeleccionada == i }">
                    <th>{{aplicacion[0]}}</th>
                    <th>{{aplicacion[1]}}</th>
                    <th>{{aplicacion[2]}}</th>
                    <th>{{aplicacion[3]}}</th>
                    <th>{{aplicacion[8]}}</th>
                    <th>{{aplicacion[9] | formatofecha}}</th>
                    <th *ngIf="aplicacion[4]=='A'">Activo</th>
                    <th *ngIf="aplicacion[4]=='I'">Inactivo</th>
                </tr>
        </tbody>
        <tfoot style="background-color: #A8A6A6">
            <tr>
              <td colspan="7">
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="nuevoModal(modalAgregar)" >Agregar</button>
                    <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="abrirModalActualizar(modalAgregar)">Editar</button>
                    <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="nuevoModal(modalDesactivar)">Eliminar</button>
                </div>
              </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Seccion Modales-->
<ng-template #modalAgregar >
        
<!--Si no hay seleccion-->
    <div class="modal-header" style="background-color: #f2f2f2;">
      <h4 class="modal-title">
        Aplicaciones
      </h4>
    </div>
    <div class="modal-body" style="background-color: #f2f2f2;">
      <div class="row">
        <div class="col-2">
          <p>Código</p>
        </div>
        <div class="col-10">
          <input mdbInput type="text" class="form-control" [(ngModel)]="codigoValue">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-2">
          <p>Descripción</p>
        </div>
        <div class="col-10">
          <input mdbInput type="text" class="form-control" [(ngModel)]="descripcionValue">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switchPasarela" [(ngModel)]="switchPasarela">
            <label class="custom-control-label" for="switchPasarela">Permitir uso de la Pasarela</label>
          </div>
        </div>
        <div class="col-2">
          <p>Tipo de Formulario</p>
        </div>
        <div class="col-4">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="recordarTarjeta" [value]="recordarTarjeta" [(ngModel)]="dataRButton" name="defaultExampleRadios" checked mdbInput>
            <label class="custom-control-label" for="recordarTarjeta">Recordar Tarjeta</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="pagarCuotas" [value]="pagarCuotas" [(ngModel)]="dataRButton" name="defaultExampleRadios" mdbInput>
            <label class="custom-control-label" for="pagarCuotas">Pagar Cuotas</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="ambasOpciones" [value]="ambasOpciones" [(ngModel)]="dataRButton" name="defaultExampleRadios" mdbInput>
            <label class="custom-control-label" for="ambasOpciones">Ambas opciones</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="background-color: #f2f2f2;">
      <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="agregarAplicacion(modalAgregar)">Aceptar</button>
      <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="cerrarModal(modalAgregar)">Cancelar</button>
    </div>
</ng-template>

<ng-template #modalDesactivar >
        
  <!--Si no hay seleccion-->
      <div class="modal-header" style="background-color: #f2f2f2;">
        <h4 class="modal-title">
          Eliminar
        </h4>
      </div>
      <div class="modal-body" style="background-color: #f2f2f2;">
        <div class="row">
          <div class="col-12 text-center">
            <p>¿Seguro de Desactivar Aplicación del Panel?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-right">
            <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="desactivarAplicacion(modalDesactivar)">Desactivar</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary pl-3 pr-3 mr-2" (click)="cerrarModal(modalDesactivar)">Cancelar</button>
          </div>
        </div>
      </div>

  </ng-template>

