
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../assets/js/jquery.js"></script>
  </head>
  
  <body>
    <div class="container-fluid px-5">
     <div class="row">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end mb-1">
        <button type="button" class="btn btn-outline-dark button_sesion" (click)="cerrar_sesion()">Cerrar Sesion</button>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4 class="text-center text-sm-center text-md-center text-lg-left text-xl-left">Piloto de Pasarela de Pagos Multimarca - Indecopi</h4>
      </div>
     </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            
            <!-- <form class="col-12" style="margin-top: 10px;">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <label>Productos:</label><br />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                  <label>Cantidad:</label><br />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                  <label>Precio:</label><br />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 text-left">
                  <label>Total:</label><br />
                </div>
              </div>
            </form> -->
            <form class="col-12 pt-2">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <label>Items:</label><br />
                </div>
                </div>
            </form>
                <form [formGroup]="formulario" class="col-12" style="margin-top: 10px;">
                  <div formArrayName="formularioVisa">
                    <div *ngFor="let items of formularioVisa.controls; let i = index;" class="row ">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <input type="text" class="form-control" [formControl]="items.controls.producto" placeholder="Producto" [disabled]="!btn_pagar"  minlength="4"/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                        <div class="form-group">
                          <input type="number"  min="1" class="form-control" [formControl]="items.controls.cantidad" placeholder="Cantidad" (change)="calcular_total(items.controls)" [disabled]="!btn_pagar"/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                        <div class="form-group">
                          <input type="text" style="text-align: right;" min="1" class="form-control" [formControl]="items.controls.precio" placeholder="Precio" (change)="calcular_total(items.controls)" [disabled]="!btn_pagar"/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                        <div class="form-group">
                          <input type="text" style="text-align: right;" class="form-control" [formControl]="items.controls.total" placeholder="Total" disabled/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                        <div class="form-group">
                          <button type="button" class="btn btn-light w-100"  style="max-width: 100%; width: 152px;" (click)="borrarLista(i)" [disabled]="flagRespuestaVisa || !btn_pagar">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form class="col-12" *ngIf="!flagRespuestaVisa">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-md-2">
                      <div class="form-group text-center">
                        <button type="button" class="btn btn-light w-100" [disabled]="flagRespuestaVisa || !btn_pagar" (click)="anadirLista('','','','')">Añadir</button>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-md-2">
                      <div class="form-group text-center">
                        <button type="button" class="btn btn-light w-100" [disabled]="flagRespuestaVisa || !btn_pagar" (click)="totalizar()">Totalizar</button>
                      </div>
                    </div>
                  </div>
                </form>
                <form class="col-12">
                  <div class="row d-flex justify-content-end align-items-center" *ngIf="flagPrecioTotal">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <div class="form-group text-right mb-1">
                        <label>Total S/.</label>
                      </div>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-3 col-xl-3">
                      <div class="form-group text-center">
                        <input type="text" class="form-control" name="precio_final" [(ngModel)]="precio_final" disabled />
                      </div>
                    </div>
                  </div>
                </form>

                <form class="col-12">
                  <div class="row justify-content-end" *ngIf="flagPrecioTotal">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 ">
                      <div class="form-group text-center">
                        <button type="button" class="btn btn-dark w-100" [disabled]="flagRespuestaVisa"  (click)="updatePagina()" >Cancelar</button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                      <div class="form-group text-center">
                        <button type="button" class="btn btn-light w-100" [disabled]="flagRespuestaVisa"  (click)="getToken(modalTeryCon)">Pagar ahora</button>
                    </div>
                    </div>
                  </div>
                </form>

                <form class="col-12" style="margin-top: 10px;" *ngIf="flagRespuestaVisa">
                <div class="row">
                  <div class="col-12 align-self-left" >
                    <div class="form-group text-left">
                      <label>Respuesta:</label>
                    </div>
                  </div>
                  <div class="col-12 align-self-center">
                    <div class="form-group border" *ngIf="aceptado">
                      <div>Número de Pedido: {{response_visa["order"]["purchaseNumber"]}}</div>
                      <div>Descripción de Transacción: {{response_visa["dataMap"]["ECI_DESCRIPTION"]}}</div>
                      <div>Numero de Tarjeta: {{response_visa["dataMap"]["CARD"]}}</div>
                      <div>Marca: {{response_visa["dataMap"]["BRAND"]}}</div>
                      <div>Monto: {{response_visa["dataMap"]["AMOUNT"]}}</div>
                      <div>Tipo de Moneda: {{response_visa["order"]["currency"]}}</div>
                      <div>Estatus: {{response_visa["dataMap"]["STATUS"]}}</div>
                      <div>Estatus Descripción: {{response_visa["dataMap"]["ACTION_DESCRIPTION"]}}</div>
                      <div>Código de Autorización: {{response_visa["dataMap"]["AUTHORIZATION_CODE"]}}</div>
                   </div>
                   <div class="form-group border" *ngIf="!aceptado">
                    <div>Error: {{response_visa["errorMessage"]}}</div>
                    <div>Descripción de Transacción: {{response_visa["data"]["ECI_DESCRIPTION"]}}</div>
                    <div>Numero de Tarjeta: {{response_visa["data"]["CARD"]}}</div>
                    <div>Marca: {{response_visa["data"]["BRAND"]}}</div>
                    <div>Monto: {{response_visa["data"]["AMOUNT"]}}</div>
                    <div>Tipo de Moneda: PEN</div>
                    <div>Estatus: {{response_visa["data"]["STATUS"]}}</div>
                    <div>Estatus Descripción: {{response_visa["data"]["ACTION_DESCRIPTION"]}}</div>
                 </div>
                  </div>
                </div>
                </form>
          </div>
        </div>
      </div>
  
      <!-- Region Modal  -->

      <ng-template #modalTeryCon >
        
        <div class="modal-header" style="background-color: #f2f2f2;">
            <h4 class="modal-title">
                <img src="../assets/img/Indecopi_lay.png" alt="Indecopi" style="width: 100px;">
            </h4>
        </div>
        <div class="modal-body" style="background-color: #f2f2f2;">
            <h3>Terminos y condiciones</h3>
            <p>{{data_terminos}}</p>
        </div>
        <div class="modal-footer" style="background-color: #f2f2f2;">
          <button type="button" class="btn btn-dark" (click)="updatePedidoDetalle()" style="background-color: #ffaa00; color: #843c0c;">Cancelar</button>
            <button type="button" class="btn btn-light" (click)="showModalDetalle(modaldetalle,modalTeryCon)" style="background-color: #9e004f; color:#ffff; border-color: black;">Aceptar</button>
        </div>

    </ng-template>

    <ng-template #modaldetalle let-modal>
      <div class="modal-header" style="background-color: #f2f2f2;">
        <div class="row">
          <div class="col-3">
            <h4 class="modal-title">
              <img src="../assets/img/Indecopi_lay.png" alt="Indecopi" style="width: 100px;">
            </h4>
          </div>
          <div class="col-9 d-flex justify-content-end">
            <div class="row">
              <div class="col-12 d-flex justify-content-end" style="height: 24px;">Fecha: {{data_cabecera[0][2]}}</div>
              <div class="col-12 d-flex justify-content-end">Hora: {{hora_pedido_f}}</div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-start">
            <p style="font-weight: bold; margin-bottom: 0px; font-size: 22px;">Confirmación del Pedido N°: {{data_cabecera[0][0]}}</p>
          </div>
        </div>
      </div>
      <div class="modal-body" style="background-color: #f2f2f2;">
        <div class="row">
          <div class="col-6 d-flex justify-content-start">Items/Concepto</div>
          <div class="col-2 d-flex justify-content-center">Cantidad</div>
          <div class="col-2 d-flex justify-content-center">Precio</div>
          <div class="col-2 d-flex justify-content-end">Total</div>
        </div>
        <hr>
        <div class="row" *ngFor="let data_dt of data_detalle">
          <div class="col-6 d-flex justify-content-start">{{data_dt[2]}}</div>
          <div class="col-2 d-flex justify-content-center">{{data_dt[4]}}</div>
          <div class="col-2 d-flex justify-content-center">{{data_dt[3]}}</div>
          <div class="col-2 d-flex justify-content-end">{{data_dt[5]}}</div>
          <!-- 0 - NumPedido_detalle; 1 - NumPedido;  2 VC_DESCRIPCION; 3 NU_PRECIO; 4 NU_CANTIDAD ; 5 NU_TOTAL, 6 DT_FECHA_REGISTRO, 7 VC_USUARIO_REGISTRO, 8 VC_HOSTNAME_REGISTRO, 9 CH_ESTADO -->
          <!-- <p>Detalle2: {{data_dt[0]}}</p> -->
        </div> 
        <br>
        <div class="row">
          <div class="col-6 d-flex justify-content-start"></div>
          <div class="col-2 d-flex justify-content-center"></div>
          <div class="col-2 d-flex justify-content-center">TOTAL: </div>
          <div class="col-2 d-flex justify-content-end">{{data_cabecera[0][1]}}</div>
          <!-- 0 - NumPedido_detalle; 1 - NumPedido;  2 VC_DESCRIPCION; 3 NU_PRECIO; 4 NU_CANTIDAD ; 5 NU_TOTAL, 6 DT_FECHA_REGISTRO, 7 VC_USUARIO_REGISTRO, 8 VC_HOSTNAME_REGISTRO, 9 CH_ESTADO -->
          <!-- <p>Detalle2: {{data_dt[0]}}</p> -->
        </div> 
      </div>
      <div class="modal-footer" style="background-color: #f2f2f2;">
        <button type="button" class="btn btn-dark" (click)="updatePedidoDetalle()" style="background-color: #ffaa00;padding-top: 4px;padding-bottom: 4px;height: 40px;margin-bottom: 5px;width: 187px; color: #843c0c;">Cancelar</button>
        <div id="btn_pago">
          <form method="POST" action="{{url_visa}}?num_pedido_res={{numero_pedido_f}}&usuario={{usuario_name}}&host=admin&email_res={{email_response}}" id="boton_pago">
            </form>
        </div>
      </div>
  </ng-template>  
  

    </div>
  </body>
  <!-- Spinner -->

